<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<table border="1">
  <thead>
    <tr>
      <th class="<%= session[:sort] == 'title' ? (session[:direction] == 'asc' ? 'current-asc' : 'current-desc') : '' %>">
        <%= sortable "title", "Title" %>
      </th>
      <th class="<%= session[:sort] == 'rating' ? (session[:direction] == 'asc' ? 'current-asc' : 'current-desc') : '' %>">
        <%= sortable "rating", "Rating" %>
      </th>
      <th class="<%= session[:sort] == 'release_date' ? (session[:direction] == 'asc' ? 'current-asc' : 'current-desc') : '' %>">
        <%= sortable "release_date", "Release Date" %>
      </th>
    </tr>
  </thead>

<div id="movies">

  <% @movies.each do |movie| %>
    <%= render movie %>
  <% end %>
</div>

</table>

<%= link_to "New movie", new_movie_path %>
