<p style="color: green"><%= notice %></p>
<%# 
<%= render @movie %>


<%= render partial: "movie", locals: { movie: @movie, view: "show" } %>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie) , class: 'edit_button' %> |
  <%= link_to "Back to movies", movies_path , class: 'back_button' %>
  </br>
  </br>
  </br>
  <%= button_to "Destroy this movie", @movie, method: :delete %>
</div>
